.btn_talk {
    background-color: rgb(48, 203, 130);
    padding: 7px 17px;
    border-radius: 8px;
    transition: color 1s;
    font-size: 15px;
    color: white;
    font-weight: 500;
    border: 1px solid rgb(0, 255, 17);
}

.contmain {
    height: 30em;
    /* background-image: url('https://wallpaperaccess.com/full/4635743.jpg'); */
}

.cont1 {
    width: 70%;
    /* filter: brightness(200%); */
}

:root {
    --color-1: #ffc400;
    --color-2: #88ff00;
    --color-3: #11f15c;
    --color-4: #ff0496;
    --color-5: #099de7;
}

.fnt {
    font-size: 25px;
    font-weight: 700;
    color: aqua;
}
.stack {
    transform: translate3d(0, 0, 0);
    animation-name: shakeMe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes shakeMe {
    10% {
        transform: translate3d(0, -4000px, 0);
    }
  
    20%{
        transform: translate3d(0, 0, 0);
    }
  
    40%{
        transform: translate3d(0, 0, 0);
    }
  
    60% {
        transform: translate3d(0, 0, 0);
    }
    
    100% {
        transform: translate3d(0px, 40px, 0);
    }
  }
.nameclr {
    text-transform: uppercase;
    background: linear-gradient(219deg,
            var(--color-1) 19%,
            var(--color-2) 20%, var(--color-2) 39%,
            var(--color-3) 40%, var(--color-3) 59%,
            var(--color-4) 60%, var(--color-4) 79%,
            var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: color 2s;
}

.stack90 {
    margin: 1.5rem 0;
    font-size: 13px;
}

.socialMedia45 {
    transform: translateY(7em);
    cursor: pointer;
    margin-bottom: 5em;
}

.shine-box {
    position: absolute;
    width: 90px;
    height: 38px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #35b68f;
    font-size: 14px;
    font-weight: 500;
}

.shine-box:before {
    position: absolute;
    top: 0;
    content: "";
    width: 0px;
    height: 50px;
    transform: skew(-50deg);
    transition: 1s;
    opacity: 0.5;
    box-shadow: 0 0 1em 2rem rgb(207, 237, 241);
    animation: shine 1.5s 2s ease infinite;
}

@keyframes shine {
    from {
        left: -50px;
    }

    to {
        left: 150px;
    }
}